@model MyPortfolio.Models.Contact
<section id="contact">
    <div class="inner">
        <section>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label asp-for="Name">Name</label>
                        <input type="text" asp-for="Name" />
                    </div>
                    <div class="field half">
                        <label asp-for="Email">Email</label>
                        <input type="text" asp-for="Email" />
                    </div>
                    <div class="field">
                        <label>Service</label>
                        <select class="custom-select" asp-for="Service" asp-items="Model.Services">
                            <option value="0" selected="selected">Please Select The Desired Service...</option>
                        </select>
                    </div>
                    <div class="field">
                        <label asp-for="Message">Message</label>
                        <textarea asp-for="Message" rows="6"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Clear" /></li>
                </ul>
            </form>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="#">nima993322@gmail.com</a>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-phone"></span>
                    <h3>Phone</h3>
                    <span>(+98) 914 932 9950</span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-home"></span>
                    <h3>Address</h3>
                    <span>
                        Nima Torabi, Tabirz, Iran.
                    </span>
                </div>
            </section>
        </section>
    </div>
</section>