<header id="header" class="alt">
    <a asp-controller="Home" asp-action="Index" class="logo"><strong>NT</strong> <span>my Portfolio</span></a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>